.App {
  text-align: center;
}

/* ---------- Redux Tutorial Styling Vid 78 ---------- */
.cart-wrapper {
  height: 100px;
  width: 500px;
  border: 1px solid black;
  margin-left: 10%;
}
.item {
  float: left;
  width: 12 0px;
  padding: 20px;
  /* height: 70px; no effect*/
}
.add-to-cart img {
  width: 75px;
  position: absolute;
  top: 2%;
  right: 2%;
  border-radius: 40px;
}
.img-wrapper img {
  width: 100px;
  margin-top: -10px;
}
.btn-wrapper button {
  color: white;
  background-color: red;
  border: 0px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: #333 0px 1px 5px;
}

/* ---------- Redux Tutorial Styling Ends ---------- */
